
    <div id="container">
        <div id="formulario">
            <h2>New Product</h2>
            <form id="data-form" action="/api/products" method="post">
                <table>
                    <tr>
                        <td width="120"><label for="code">Code</label></td>
                        <td><input type="text" id="code" name="code" required></td>
                    </tr>
                    <tr>
                        <td width="120"><label for="title">Title</label></td>
                        <td><input type="text" id="title" name="title" required></td>
                    </tr>
                    <tr>
                        <td width="120"><label for="description">Description</label></td>
                        <td><input type="text" id="description" name="description" required></td>
                    </tr>
                    <tr>
                        <td width="120"><label for="price">Price</label></td>
                        <td><input type="text" id="price" name="price" required></td>
                    </tr>
                    <tr>
                        <td width="120"><label for="thumbnails">Thumbnails</label></td>
                        <td><input type="text" id="thumbnails" name="thumbnails" required></td>
                    </tr>
                    <tr>
                        <td width="120"><label for="stock">Stock</label></td>
                        <td><input type="text" id="stock" name="stock" required></td>
                    </tr>
                    <tr>
                        <td width="120"><label for="category">Category</label></td>
                        <td><input type="text" id="category" name="category" required></td>
                    </tr>
                    <tr>
                        <td width="120"><label for="status">Status</label></td>
                        <td><input type="text" id="status" name="status" required></td>
                    </tr>

                    <tr>
                        <td colspan="2" style="height: 20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Add product</button></td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="lista">
            <h2>Product List</h2>
            <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Thumbnails</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody id="list-container">
                {{#each list}}
                    {{this}}
                {{/each}}
            </tbody>
            </table>
        </div>
    </div>

  <!-- Configuración de Socket.IO en el cliente -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>