/* Estilos para el contenedor principal */
#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex; /* Convertir el contenedor en un flex container */
  flex-direction: column; /* Apilar los elementos verticalmente */
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Estilos para el encabezado de la tabla */
table th {
  background-color: #f2f2f2;
}

/* Estilos para el total */
.text-total {
  margin-top: 20px;
  font-size: 18px;
}

/* Estilos para el botones */
#buttons {
  margin-top: 20px; /* Espacio entre la tabla y los botones */
}

#buttons form {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-lg {
  font-size: 18px;
}
