<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css"> <!-- Vincula tu archivo CSS externo -->
</head>
<body>

<div class="profile-container">
    <h2>Profile</h2>

    <div class="profile-info">
        <label>Name:</label>
        <p>{{user.first_name}}</p>

        <label>Last name:</label>
        <p>{{user.last_name}}</p>

        <label>Email:</label>
        <p>{{user.email}}</p>
    </div>

    <hr class="separator">

    <div class="button-container">
        <button id="logout">Close session</button>
    </div>
</div>

<script src="/js/profile.js"></script> <!-- Incluye tu archivo JavaScript externo -->

</body>
</html>
