<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <!-- Aquí vinculas tu archivo CSS externo -->
  </head>
  <body>

    <div class="container">
      <div class="login-form">
        <h2>Recovery password</h2>
        Please check your inbox, a recovery code was sent to your email.
      </div>
    </div>

  </body>
</html>