<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    <!-- Aquí vinculas tu archivo CSS externo -->
  </head>
  <body>

    <div class="container">
      <div class="login-form">
        <h2>Login</h2>
        <!-- Título del formulario -->
        <form action="" id="loginForm">
          <label for="email">User</label>
          <input type="email" name="email" id="email" />

          <label for="password">Password</label>
          <input type="password" name="password" id="password" />

          <button type="submit">Login</button>

          
        </form>

        Perdiste tu contraseña? <a href="/views/reset-password">Restaurar</a>

        <a href="/auth/github">Login with Github</a>
      </div>
    </div>

    <script src="/js/login.js"></script>

  </body>
</html>